@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #1e2231;
  --secondary: #ff6900;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #1e2231;
    --secondary: #ff6900;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Poppins,Arial, Helvetica, sans-serif;
}


.fade-out {
  animation: fade-out 0.5s ease;
}

.fade-in-top {
  animation: fade-in-top 0.75s ease-in-out;
}

.fade-in-right {
  animation: fade-in-right 0.75s ease-in-out;
}

@keyframes fade-in-top {
  from {
    opacity: 0;
    transform: translateY(-1rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fade-in-right {
  from {
    opacity: 0;
    transform: translateX(-1rem);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}
